In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_train = pd.read_csv('df_train_2.csv')
df_test = pd.read_csv('df_test_2.csv')

In [13]:
df = pd.concat([df_train,df_test])

In [14]:
df.shape

(5407, 29)

In [16]:
df[(df['MaritalStatus_Married'] == 1) & (df['Gender'] == 1) & (df['CityTier'] == 1)]

,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,Gender,HourSpendOnApp,NumberOfDeviceRegistered,SatisfactionScore,NumberOfAddress,Complain,...,PreferedOrderCat_Fashion,PreferedOrderCat_Grocery,PreferedOrderCat_Laptop & Accessory,PreferedOrderCat_Mobile,PreferedOrderCat_Mobile Phone,PreferedOrderCat_Others,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Churn
10,0.327233,1.0,1.0,0.541002,1.0,0.515888,0.331418,1.000000,0.446283,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
12,0.627156,0.0,1.0,0.925589,1.0,0.263824,0.535825,0.000000,0.000000,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
26,0.083451,0.0,1.0,0.346835,1.0,0.515888,0.331418,0.764137,0.279288,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0
54,0.868862,0.0,1.0,0.112675,1.0,0.515888,0.331418,0.000000,0.566419,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0
66,0.904099,0.0,1.0,0.770614,1.0,0.515888,0.535825,0.000000,0.738103,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1011,0.673332,0.0,1.0,0.676102,1.0,0.264825,0.529597,0.759734,0.892075,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0
1033,0.673332,0.0,1.0,0.785221,1.0,0.264825,0.328494,0.993147,0.282499,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0
1034,0.549836,0.0,1.0,0.608224,1.0,0.519160,0.529597,0.000000,0.454475,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0
1053,0.583476,0.0,1.0,0.676102,1.0,0.264825,0.529597,0.267850,0.454475,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0
1073,0.000622,0.0,1.0,0.676102,1.0,0.519160,0.529597,0.000000,0.282499,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0

In [17]:
(334/5407) * 100

6.177177732568892

In [18]:
df = pd.read_excel('E Commerce Dataset.xlsx', sheet_name='E Comm')

In [30]:
df['Total Pembelian'] = df['CashbackAmount'] * 50 * df['OrderCount']

In [31]:
df[['Total Pembelian', 'CashbackAmount']]

      Total Pembelian  CashbackAmount
0              7996.5          159.93
1              6045.0          120.90
2              6014.0          120.28
3              6703.5          134.07
4              6480.0          129.60
...               ...             ...
5625          15071.0          150.71
5626          22491.0          224.91
5627          18642.0          186.42
5628          17890.0          178.90
5629          16904.0          169.04

[5630 rows x 2 columns]

In [34]:
df['Total Pembelian'].sum()

154339328.5

In [32]:
df['OrderCount'].mean()

3.0080044676098288

In [33]:
df[df['Churn'] == 1]['Total Pembelian'].sum()

23134478.0

In [35]:
(5/16.83 ) * 23134478

6872988.116458705

In [36]:
23134478 - 6872988

16261490